<template>
  <v-snackbar
    multi-line
    v-model="snackbar"
    :color="snackbarColor"
    top
    width="382px"
    height="88px"
  >
    <v-row class="ma-0" style="width: 100%; height: 100%">
      <v-col cols="3" class="d-flex justify-center align-items-center pa-0">
        <v-icon>mdi-check-circle-outline </v-icon>
      </v-col>
      <v-col
        style="background: white"
        cols="9"
        class="d-flex flex-column justify-center align-items-center pa-3 ma-0"
      >
        <h4 style="color: #293042" class="ma-0 d-flex align-center">
          {{ headerText }}
        </h4>
        <h4 style="color: #6f7689" class="ma-0 d-flex align-center">
          {{ text }}
        </h4>
      </v-col>
    </v-row>

    <template v-slot:action="{ attrs }">
      <v-btn
        class="pa-0"
        color="#AEB6BE"
        text
        v-bind="attrs"
        @click="snackbar = false"
        min-width="inherit"
        height="inherit"
      >
        <v-icon style="font-size: 16px">mdi-close</v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
@Component({ components: {} })
export default class Snackbar extends Vue {
  @Prop({ default: false }) snackbar!: boolean
  @Prop({ default: 'success' }) snackbarColor!: string
  @Prop({ default: '' }) headerText!: string
  @Prop({ default: '' }) text!: string

  showModal = false

  closeToast() {
    this.$emit('toast-updated')
  }
  @Watch('snackbar')
  onChanged() {
    this.showModal = this.snackbar
  }
}
</script>
