<template>
  <v-btn @click="$emit('click')" text color="blue" class="ma-1">
    <v-icon>plus</v-icon>
  </v-btn>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
@Component({})
export default class FActionBtn extends Vue {}
</script>

<style scoped></style>
