<template>
  <div>
    <v-btn fab x-small text @click="$emit('click')" :disabled="disabled">
      <v-icon>close </v-icon>
    </v-btn>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
@Component({})
export default class FCancelBtn extends Vue {
  @Prop({ default: '' }) label!: string
  @Prop({ default: false }) disabled!: boolean
  goBack() {
    this.$router.go(-1)
  }
}
</script>
