<template>
  <v-btn
    class="action-btn"
    icon
    depressed
    dense
    :disabled="disabled"
    @click.stop="$emit('click')"
  >
    <v-icon>exit</v-icon>
  </v-btn>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
@Component({})
export default class FCancelBtn extends Vue {
  @Prop({ required: true }) label!: string
  @Prop({ default: false }) disabled!: boolean
}
</script>
