<template>
  <v-btn
    class="action-btn"
    icon
    :color="color"
    depressed
    dense
    :title="title"
    :disabled="disabled"
    @click="$emit('click')"
  >
    <img width="15" height="15" src="../../../public/img/icons/delete.svg" />
  </v-btn>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
@Component({})
export default class FDeleteBtn extends Vue {
  @Prop({ default: 'Fshi' }) title!: string
  @Prop({ default: 'red' }) color!: string
  @Prop({ default: false }) disabled!: boolean

  goBack() {
    this.$router.go(-1)
  }
}
</script>
