<template>
  <v-row>
    <v-dialog width="674px" height="705px" v-model="modal" name="create_case">
      <v-card>
        <v-card-title class="add-title light mr-0 pr-0">
          {{ modalHeader }}
          <v-spacer />
          <f-cancel-btn class="mr-0 pr-0 cancel" @click="close" />
        </v-card-title>

        <v-divider />
        <v-form
          ref="form"
          @submit.prevent="modalType === 'create' ? create() : update()"
        >
          <v-container>
            <v-row class="mx-2 my-0">
              <v-col class="align-center justify-space-between py-0" cols="6">
                <h3 class="label">Full Name</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  placeholder="First name"
                  v-model="request.name"
                />
              </v-col>
              <v-col class=" d-flex flex-column py-0" cols="6">
                <div
                  class="d-flex flex-row  align-center justify-space-between"
                >
                  <h3 class="label pb-0  ">
                    Address
                  </h3>
                  <v-checkbox
                    dense
                    hide-details
                    class="ma-0 pa-0 shrink"
                    v-model="checkbox"
                  >
                    <template v-slot:label>
                      <div class="label">
                        Use Google Location
                      </div>
                    </template>
                  </v-checkbox>
                </div>
                <gmap-autocomplete
                  class="form-control"
                  v-model="request.street"
                  :value="request.street"
                  style="address"
                  placeholder="Address"
                  @input="request.street = $event.target.value"
                  @place_changed="setPlace"
                />
              </v-col>
            </v-row>
            <v-row class="mx-2 my-0">
              <v-col class="align-center justify-space-between py-0" cols="6">
                <h3 class="label">Username</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  placeholder="Username"
                  v-model="request.username"
                />
              </v-col>
              <v-col class="align-center justify-space-between py-0" cols="6">
                <h3 class="label">City</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  placeholder="City"
                  v-model="request.city"
                />
              </v-col>
            </v-row>
            <v-row class="mx-2 my-0">
              <v-col class="align-center justify-space-between py-0">
                <h3 class="label">Email</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  :rules="emailRules"
                  placeholder="Email"
                  v-model="request.email"
                />
              </v-col>
              <v-col class="align-center justify-space-between py-0">
                <h3 class="label">Zip Code</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  placeholder="Zip Code"
                  v-model="request.zipcode"
                />
              </v-col>
            </v-row>
            <v-row class="mx-2 my-0">
              <v-col class="align-center justify-space-between py-0" cols="6">
                <h3 class="label">Phone Nr</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  :rules="phoneRules"
                  placeholder="Phone Nr"
                  v-model="request.phone"
                />
              </v-col>
              <v-col
                class="align-center justify-space-between py-0"
                cols="3"
                v-if="checkbox"
              >
                <h3 class="label">Latitude</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  placeholder="Latitude"
                  v-model="request.lat"
                />
              </v-col>
              <v-col
                class="align-center justify-space-between py-0"
                cols="3"
                v-if="checkbox"
              >
                <h3 class="label">Longitude</h3>
                <v-text-field
                  class="placeholder"
                  dense
                  outlined
                  placeholder="Latitude"
                  v-model="request.lng"
                />
              </v-col>
            </v-row>
          </v-container>
          <v-divider />
          <v-card-actions class="mr-3 pa-4">
            <v-spacer />
            <f-submit-btn
              :label="label"
              @click="modalType === 'create' ? create() : update()"
              class="save mr-1"
            />
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <snackbar
      :snackbar="snackbar"
      :snackbarColor="snackbarColor"
      :headerText="headerText"
      :text="text"
    />
  </v-row>
</template>
<script lang="ts">
import Vue from 'vue'
import { Component, Prop, Ref } from 'vue-property-decorator'
import { gmapApi } from 'vue2-google-maps'
import eventBus from '../../../plugins/event-bus'
import api from '@/plugins/api'
import Snackbar from '@/components/toasts/Snackbar.vue'
import FSubmitBtn from '@/components/buttons/FSubmitBtn.vue'
import FCancelBtn from '@/components/buttons/FCancelBtn.vue'
import FCloseBtn from '@/components/buttons/FCloseBtn.vue'
import { VForm } from 'types'
@Component({
  name: 'CreateEditUser',
  components: {
    FSubmitBtn,
    FCancelBtn,
    FCloseBtn,
    Snackbar,
    gmapApi,
  },
})
export default class CreateEditUser extends Vue {
  @Prop({ type: Boolean, required: true }) value
  @Prop({ type: Object }) user
  @Prop(String) modalType!: string
  @Ref('form') readonly form!: VForm
  emailRules = [v => /.+@.+\..+/.test(v) || 'E-mail must be valid']
  phoneRules = [
    v => /^[-+]?[0-9]*\.?[0-9]*$/.test(v) || 'Phone number must be valid',
  ]
  initialRequest = {
    id: '',
    name: '',
    username: '',
    email: '',
    zipcode: '',
    phone: '',
    street: '',
    city: '',
    lat: '',
    lng: '',
  }
  label = this.modalType === 'create' ? 'Create' : 'Save'
  loading = false
  headerText = ''
  text = ''
  snackbar = false
  snackbarColor = ''
  checkbox = false
  get request() {
    this.initialRequest.id = this.user?.id
    this.initialRequest.street = this.user?.address.street || ''
    this.initialRequest.zipcode = this.user?.address.zipcode || ''
    this.initialRequest.city = this.user?.address.city || ''
    this.initialRequest.lat = this.user?.address.geo.lat || ''
    this.initialRequest.lng = this.user?.address.geo.lng || ''
    this.initialRequest.phone = this.user?.phone || ''
    this.initialRequest.email = this.user?.email || ''
    this.initialRequest.username = this.user?.username || ''
    this.initialRequest.name = this.user?.name || ''

    return this.initialRequest
  }
  get modal() {
    this.snackbar = false
    return this.value
  }
  set modal(newValue) {
    this.$emit('input', newValue)
  }
  get modalHeader() {
    return this.modalType === 'create' ? 'Add new User ' : 'Edit User'
  }
  close() {
    this.modal = false
    this.form.resetValidation()
    this.form.reset()
    this.request.street = ''
  }
  setPlace(place) {
    this.request.street = place.formatted_address
    this.request.lat = place.geometry.location.lat()
    this.request.lng = place.geometry.location.lng()
  }
  successMessage() {
    this.snackbar = true
    this.snackbarColor = 'success'
  }
  errorMessage() {
    this.snackbar = true
    this.snackbarColor = 'error'
    this.headerText = 'Something went wrong!'
  }
  create() {
    this.loading = true
    if (!this.form.validate() || this.request.street === '') {
      this.errorMessage()
      this.text = 'Please fill all fields!'
      this.loading = false
      return
    }
    api()
      .post('https://jsonplaceholder.typicode.com/users', this.request)
      .then(response => {
        this.form.resetValidation()
        this.form.reset()
        this.request.street = ''
        this.modal = false
        this.headerText = 'User Created'
        this.text = 'User has been successfully created'
        this.successMessage()
        this.checkbox = false
        eventBus.$emit('reload-users')
      })
      .catch(error => {
        alert(error.message)
        this.errorMessage()
      })
      .finally(() => {
        this.loading = false
      })
    this.close()
  }
  update() {
    if (!this.form.validate() || this.request.street === '') {
      this.errorMessage()
      this.text = 'Please fill all fields!'
      this.loading = false
      return
    }
    api()
      .put(
        `https://jsonplaceholder.typicode.com/users/${this.request.id}`,
        this.request
      )
      .then(response => {
        this.modal = false
        eventBus.$emit('reload-users')
        this.headerText = 'User Edited'
        this.text = 'User has been successfully edited'
        this.successMessage()
      })
      .catch(error => {
        alert(error.message)
        this.errorMessage()
      })
      .finally(() => {
        this.loading = false
      })
    this.close()
  }
}
</script>
<style scoped>
#no-background-hover::before {
  background-color: transparent !important;
}
h3 {
  padding-bottom: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #6f7689;
}
.add-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #293042;
}
.label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #6f7689;
}
.placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #aeb6be;
}
.cancel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100px;
  height: 36px;
  color: #293042;
}
.save {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100px;
  height: 36px;
  color: #ffffff;
}
.removeUser {
  width: 8px;
  height: 7.5px;
  left: 842px;
  top: 502px;
}
input {
  height: 37px !important ;
  background: #ffffff !important;
  border: 1px solid rgba(0, 0, 0, 0.38) !important;
  border-radius: 5px !important;
  border-style: solid !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: black !important ;
  padding-left: 12px !important;
}
input::placeholder {
  color: #c4c4c4;
}
</style>
