<template>
  <v-app id="app">
    <v-main>
      <v-container fluid elevation="3" class="mx-2 px-6">
        <user-list />
      </v-container>
    </v-main>
  </v-app>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import UserList from '@/views/User/Views/UserList.vue'
@Component({ components: { UserList } })
export default class App extends Vue {}
</script>

<style>
.v-card__title .text-h6 .pb-1 .pl-0 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.v-card .v-card__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.v-card .v-card__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.v-select__slot .v-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #aeb6be;
}
.v-text-field__slot .v-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #aeb6be;
}
.v-data-table-header span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.v-main__wrap {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
  background-color: #f5f6f8;
}
.theme--light.v-pagination .v-pagination__item {
  background: #f5f6f8;
}
.theme--light.v-pagination .v-pagination__navigation {
  background: #f5f6f8;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
  border-top: thin solid rgba(0, 0, 0, 0.12);
  height: 45px;
  background-color: #ffffff;
}
.thead {
  font-weight: bold;
}
.v-pagination.v-pagination {
  padding-left: 0;
  justify-content: right;
  padding-right: 19px;
}
html {
  overflow-y: auto;
}
.panel {
  height: calc(100vh - 30px);
  overflow-y: hidden;
}
th {
  font-weight: 600;
}
.v-card__title {
  font-weight: 700;
  font-size: 14px;
  font-family: 'Roboto';
}
.theme--light.v-data-table .v-data-table__empty-wrapper {
  color: rgba(0, 0, 0, 0.38);
  height: 100px;
}
.theme--light.v-pagination .v-pagination__item {
  background: #f5f6f8 !important;
  width: 33px !important;
  height: 32px !important;
  margin: 8px 4px !important;
}
.theme--light.v-pagination .v-pagination__item--active {
  background: #3980fc !important;
  margin: 3px !important;
}
.theme--light.v-pagination .v-pagination__navigation {
  background: #f5f6f8 !important;
  width: 33px !important;
  height: 32px !important;
  margin: 8px 4px !important;
}
thead .v-data-table-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
img {
  margin-top: 4px;
}
.v-snack__action {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0 !important;
}
.v-snack__content {
  height: inherit !important;
  width: inherit !important;
  padding: 0 !important;
}
.v-btn {
  text-transform: none !important;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
#card .theme--light.v-data-table .v-data-table__wrapper {
  display: flex;
}
#card .v-data-table > .v-data-table__wrapper > table {
  display: flex;
  flex-direction: column !important;
  width: 100% !important;
}
#card .v-data-table > .v-data-table__wrapper > table > thead {
  display: flex;
  width: 100% !important;
  flex-direction: column !important;
}
#card .v-data-table > .v-data-table__wrapper > table > thead > tr {
  display: flex;
  width: 100% !important;
}
#card .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  display: flex;
  width: 100% !important;
  flex-direction: row !important;
  justify-content: start;
  align-items: center;
  padding: 0 8px !important ;
  border: none !important;
}
#card .v-data-table > .v-data-table__wrapper > table > tbody {
  display: flex;
  width: 100% !important;
  flex-direction: column !important;
}
#card .v-data-table > .v-data-table__wrapper > table > tbody > tr {
  display: flex;
  width: 100% !important;
  border: 1px solid #e2e2e2 !important;
  margin-top: 10px;
  background-color: #ffffff !important;
}
#card .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  display: flex;
  width: 100% !important;
  align-items: center;
  padding: 0 8px !important ;
  border: none !important;
}
#card .v-data-table > .v-data-table__wrapper > table > tbody > tr > td > span {
  display: flex;
  width: 100% !important;
  justify-content: start;
  align-items: center;
}
#card
  .v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr
  > td:last-child {
  justify-content: end;
}
#card
  .v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr
  > th:last-child {
  justify-content: end;
  padding-right: 20px !important;
}
.v-data-table__wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
</style>
